/* Import font from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Roboto&display=swap');

/* Remove all padding and margin unless stated */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/* Font css rule ~Guide~
font-family: 'Abel', sans-serif;
font-family: 'Roboto', sans-serif; */

body {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: black;
}

h1,
h2 {
    font-family: 'Abel', sans-serif;
    color: #006400;
}


h3,
h4 {
    font-family: 'Roboto', sans-serif;
    color: black;
}

a {
    text-decoration: none;
}


header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* aligning the top items - logo, nav, phone and map link */
#header-top {
    background: url('../images/haven-hub-main-image-lady-administering-prescriptions.webp')no-repeat center center;
    height: 900px;
    width: 100%;
    background-size: 100%;
    animation: main-banner-animation 10s ease 0s 1 normal forwards;

}


@keyframes main-banner-animation {
    0% {
        background-position: center center;
        background-size: 130%
    }

    100% {
        background-position: right center;
        background-size: 100%
    }
}


.logo {
    font-family: 'Abel', sans-serif;
    float: right;
    font-size: 205%;
    font-weight: bolder;
    color: #009B4D;
    letter-spacing: 4px;
    padding: 5px;
    margin: 5px;
}

.logo span {
    color: black;
}

.main-header-nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #FAF5E9;
    position: fixed;
}

.nav-style>a {
    font-family: 'Abel', sans-serif;
    float: right;
    font-size: 80%;
    font-weight: bolder;
    color: black;
    letter-spacing: 4px;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    text-transform: uppercase;
}

.nav-style>a:hover {
    color: #009B4D;
}

a>.nav-style>a:hover {
    color: #009B4D;
}

#active-page {
    color: #009B4D;
}

/* Introductory message */
.main-header-text {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: larger;
    color: white;
    font-weight: bolder;
    font-size: 150%;
    background-color: rgba(0, 0, 0, 0.5);
    letter-spacing: 4px;
}

.main-header-text h2 {
    color: #FFCC00
}

.text-focus-in {
    -webkit-animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
    animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}

@keyframes text-focus-in {
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }

    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}


/* About us page section */
#about-us {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: left;
    background-color: white;
    flex-direction: column;
    padding-top: 30px;
    text-align: center;
}

.about-us-subtitle {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: flex-end;
    background-color: white;
    flex-direction: row;
    margin: 1em;
    padding: 1em;
    width: 50%;
}

.about-us-text1 {
    height: 200px;
    align-content: flex-end;
    background-color: #FAF5E9;
    justify-content: left;
    padding: 2em;
}

.about-us-image1 {
    width: 200px;
    height: 200px;
    gap: 1em;
    align-self: flex-start;
    object-fit: cover;
}

/* Get Involved page section */

.get-involved-title {
    width: 100%;
    text-align: center;
    margin: 20px;
}


#get-involved {
    padding-bottom: 3em;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.get-involved-card {
    width: 300px;
    height: auto;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
    text-align: center;
    margin: 10px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    flex-wrap: wrap;
    box-shadow: 0px 0px 5px #000000, 0px 0px 15px #858585;

}

.get-involved-card-icon {
    color: #009B4D;
    font-size: 250%;
    font-weight: bolder;
    padding-top: 1em;
}


.get-involved-card-title {
    color: #FFCC00;
}

/* Subscription */

#subscription {
    width: 430px;
    max-width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2em;

}

#subscribe {
    display: flex;
    justify-content: center;
    background-color: #FFCC00;
    letter-spacing: 3px;
    width: 100%;
    min-height: fit-content;
    padding-top: 15px;
}

#subscribe-input {
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 14px;
    border: 2px solid #006400;
    outline: none;
    border-radius: 30px;
}

button {
    background-color: black;
    color: #FFCC00;
    text-decoration: #FFCC00;
    border-style: solid;
    border-width: 2px;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
    cursor: pointer;
}

button:hover {
    background-color: transparent;
    border: 2px solid black;
    color: black;
}

/* Contact us form */
#contact-us-sign-up {
    height: 100%;
    box-sizing: border-box;
}

#contact-us-sign-up-body {
    min-height: 100%;
    position: relative;
    box-sizing: inherit;

}



#form-header-top {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    background: url('../images/haven-hub-main-banner-hands-holding.webp') no-repeat center center;
    height: 97vh;
    position: relative;
}

.sub-button {
    font-family: 'Abel';
    background-color: black;
    color: #FFCC00;
    text-decoration: #FFCC00;
    border: 2px solid transparent;
    font-weight: normal;
    padding: 4px 13px;
    border-radius: 30px;
    transition: .4s;
}

.sub-button:hover {
    background-color: transparent;
    border: 2px solid black;
    color: black;
}

#form-main-banner2 {
    padding: 2em;
    color: black;
    background-color: #FFCC00;
    max-width: auto;
    margin-top: 30%;
    text-align: center;
}

/* aligning the bottom items - social links, nav, and copyright */
#footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: black;
    width: 100%;
}

.footer-menu>a {
    font-family: 'Abel', sans-serif;
    font-size: inherit;
    color: #FFCC00;
    letter-spacing: 2px;
    padding: 2px;
    margin: 2px;
    text-decoration: none;
    text-transform: uppercase;
}

.footer-social-icons a {
    color: #FFCC00;
    font-size: 130%;
    letter-spacing: 10px;
}

.footer-social-icons a:hover {
    color: white;
}

#footer>div>p {
    color: #FFCC00;
    font-size: inherit;
}

.footer-tel>a,
.footer-address>a {
    font-family: 'Abel', sans-serif;
    float: right;
    font-size: 80%;
    font-weight: bolder;
    color: #FFCC00;
    letter-spacing: 4px;
    padding: 5px;
    margin: 5px;
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
}

.footer-tel>a:hover,
.footer-address>a:hover {
    color: white;
}

#footer p {
    font-family: 'Abel', sans-serif;
}

/* Contact us Footer */
#sticky-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background-color: black;
    width: 100%;
    margin-top: auto;
}

#sticky-footer>div>p {
    color: #FFCC00;
    font-size: inherit;
}

#sticky-footer p {
    font-family: 'Garamond', sans-serif;
}

/* Responsiveness for screen sizes */
@media screen and (max-width: 1390px) {
    .about-us-subtitle {
        width: 60%;
    }
}

@media screen and (max-width: 1390px) {
    #header-top {
        height: 700px;
    }

    .main-header-text {
        font-size: 120%;
    }
}

@media screen and (max-width: 1179px) {
    #footer {
        flex-direction: column;
    }

    #sticky-footer {
        flex-direction: column;
    }

}

@media screen and (max-width: 1115px) {
    .about-us-subtitle {
        width: 75%;
    }
}

@media screen and (max-width: 900px) {
    #header-top {
        height: 600px;
    }

    .main-header-text {
        font-size: 100%;
    }

    .main-header-nav {
        flex-direction: column;
    }

    .about-us-subtitle {
        width: 90%;
    }

    #footer {
        justify-items: center;
    }

    #form-main-banner2 {
        margin-top: 40%;
    }

    @media screen and (max-width: 830px) {
        #header-top {
            height: 500px;
        }

        .main-header-text {
            font-size: 80%;
        }
    }

    @media screen and (max-width: 740px) {
        .about-us-subtitle {
            width: 100%;
        }

        #sticky-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 1em;
            background-color: black;
            width: 100%;
            position: relative;
            bottom: 0px;
        }
    }

    @media screen and (max-height: 700px) {

        #form-main-banner2 {
            max-width: 400px;
            right: 600px;
            padding: 30px;
            /* margin-left: 40px; */

        }

        #sticky-footer {
            position: relative;
            bottom: 0px;
        }

    }

    @media screen and (max-width: 670px) {
        #header-top {
            height: 400px;
        }

        .about-us-image1 {
            display: none;
        }

        .about-us-text1 {
            padding: 0em;
            height: 130px;
            padding-bottom: 0em;
            padding-bottom: 0em;
            margin: 0em;
        }

        #about-us {
            padding-top: 0em;
            padding-bottom: 0em;
        }

        .about-us-subtitle {

            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            padding: 0;

        }
    }

    @media screen and (max-width: 630px) {

        #header-top {
            height: 360px;
        }

        #about-us {
            font-family: Arial, Helvetica, sans-serif;
            padding-top: 0em;
            padding-bottom: 2em;
            width: auto;
        }

        .about-us-subtitle {
            height: 130px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            padding: 0em;
            padding-bottom: 1em;
            margin-bottom: 1em;
        }

        .about-us-text1 {
            padding: 1em;

            height: auto;
            width: auto;
            margin: 0em;
        }
    }

    @media screen and (max-width: 500px) {
        #header-top {
            background: none;
            height: auto;
        }

        .main-header-text {
            width: auto;
            font-size: 50%;
            letter-spacing: 1px;
            height: 250px;
            background: url('../images/haven-hub-main-image-lady-administering-prescriptions-mobile.webp')no-repeat center center;
            overflow: hidden;
        }

        .about-us-subtitle {
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            padding: 0;
        }

        #about-us {
            padding-top: 1em;
            padding-bottom: 5em;
        }

        #subscription {
            width: 100%;
        }
    }

    @media screen and (max-width: 400px) {
        #active-page {
            display: none;
        }

        #header-top {
            background: none;
            height: auto;
        }

        .main-header-text {
            height: 266px;
            width: auto;
            font-size: 50%;
            letter-spacing: 1px;
            height: 200px;
            background: url('../images/haven-hub-main-image-lady-administering-prescriptions-mobile.webp')no-repeat center center;
            overflow: hidden;
        }

        .about-us-subtitle {
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            padding: 0;
        }

        .about-us-text1 {
            padding: 0em;
            padding-top: 1em;
            height: 230px;
            width: auto;
        }



        #about-us {
            padding-top: 1em;
            padding-bottom: 5em;
        }
    }

    @media screen and (max-width: 360px) {
        body {
            font-family: Garamond;
        }

        .main-header-text {
            font-size: 50%;
            letter-spacing: 1px;
            height: 200px;
            background: url('../images/haven-hub-main-image-lady-administering-prescriptions-mobile-360px.webp')no-repeat center center;
            width: 360px;
        }

        .nav-style>a {
            font-size: 70%;
            letter-spacing: 2px;
        }

        #header-top {
            background: none;
            height: auto;

        }

        #about-us {
            padding: 0;
            padding-top: 1em;
            margin: 0em;
            width: 302px;
        }

        .about-us-subtitle {
            height: 150px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;
            padding: 0;
        }

        .about-us-text1 {
            padding: 0em;
            padding-top: 1em;
            height: 230px;
            width: auto;
        }

        #get-involved {
            padding-bottom: 0em;
            margin: 0em;
            display: inline;
        }

        .get-involved-title {
            width: 100%;
            text-align: center;
            margin: 0em;
            padding: 0em;
            padding-top: 3em;
        }

        .get-involved-card {
            width: 300px;
            height: auto;
            margin: 1px;
            padding: 0em;
            padding-bottom: 3em;
            margin-top: 1em;
        }


        #subscribe {
            display: flex;
            justify-content: center;
            background-color: white;
            letter-spacing: 3px;
            width: 340px;
            min-height: fit-content;
            margin-top: 2em;
        }

        #subscription {
            flex-direction: column;
            justify-content: center;
            padding-top: 0em;
        }


        #subscribe-input {
            display: inline-block;
            width: 100%;
            padding: 14px 130px 14px 14px;
            border: 2px solid black;
            border-radius: 30px;
        }
    }

    @media screen and (max-width: 320px) {
        #header-top {
            width: 290px;
            margin: 0em;
            padding: 0em;
            /* margin-left: -1.8em; */
        }

        .main-header-nav {
            width: 280px;
        }

        .main-header-text {
            color: #000000;
            height: 175px;
            width: 280px;
        }

        #about-us {
            padding: 0em;
            padding-top: 1em;
            margin: 0em;
            width: 290px;
            margin-bottom: 1.5em;
        }

        .about-us-subtitle {
            height: 170px;
        }

        .about-us-text1 {
            padding: 1em;
            height: 240px;
        }

        .get-involved-title {
            padding-top: 2em;
            padding-right: 4em;
        }

        .get-involved-card {
            width: 260px;
            margin-left: 0.5em;
        }

        #subscribe {
            width: auto;
            margin-right: 3em;
        }
    }
}